


main {
  border: 1px solid red;
  margin-left: 110px;
  margin-right: 15px;
}


.card-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}

.card-thumnail-container img {
  width: 300px;
}