


main {
  border: 1px solid red;
  margin-left: 110px;
  margin-right: 15px;
  position: relative;
  top: ;
}


.card-container {
  display: grid;
  grid-template-columns: 500px 100px 100px 100px;
}

.card-thumbnail-container img {
  width: 300px;
}

.card-content {
  display: flex;
}

.card-image-box img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}