
nav {
  margin: 10px;
  border: 1px solid ;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 300px;
}

.nav-svg {
  width: 30px;
}

.nav-wrapper {
  margin-right: 25px;
}

.nav-profile-image {
  width: 60px;
  border-radius: 50px;
}


.nav-middle-container {
  flex: 1;
  justify-content: center;
}


.nav-right-container {
  justify-content: end;

}


.nav-ytlogo-container {
  padding: 10px;
  position: relative;
}

.nav-location-indicator {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 0.8rem;
  font-weight: 300;
}
