
nav {
  display: flex;
  border: 1px solid;
  justify-content: space-between;
}

.section {
  display: flex;
  align-items: center;
  border: 1px solid ;
  flex: 1;
}

.svg {
  width: 50px;
  /** Sets the width of the SVG element to 50 pixels.*/

}

.middle-section {
  justify-content: center;
}
