
/*! Important double  */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

input[type=text] {
  border-color: none;
}


.section {
  display: flex;
  align-items: center;
  width: 500px;
}

.svg {
  width: 35px; /** Sets the width of the SVG element to 35 pixels.*/
  padding: 5px;

}

.button {
  border: none;
  background-color: inherit;
  position: relative;
  transition: background-color 0.15s, 
  border-radius 0.15s;
}

.tool-tip {
  position: absolute;
  bottom: -30px;
  padding: 5px 10px;
  opacity: 0;
  background-color: #353535;
  color: #ffffff;

}

/**Applies a hover style to the `.button` class, including a 50px border radius and a light gray background color (`#d8d8d8`). This provides visual feedback to the user when hovering over the button. */

.button:hover {
  border-radius: 50px;
  background-color: #d8d8d8;
  opacity: 1;
}

/** Applies a hover style to the `.tool-tip` element when the parent `.button` element is hovered over. When the `.button` is hovered, the `.tool-tip` element becomes visible*/

.button:hover .tool-tip {
  opacity: 1;
}

.middle-section {
  flex: 1;
  justify-content: center;
}

.right-section {
  justify-content: end;
  
}


.svg-burger-icon {
  width: 25px;
}


.svg-youtube-logo {
  position: relative;
  width: 100px;
  padding: 15px;
}

.txt-country {
  position: absolute;
  top: 8px;
  right: 1px;
  font-size: 0.7rem;
  font-weight: 400;
}




.yt-profile {
  width: 50px;
  border-radius: 50px;
}


.search-bar {
  padding: 12px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: inset 1px 1px 2px #6d6d6d;
  width: 100%;
  max-width: 500px;
  min-width: 100px;
}

.search-bar::placeholder {
  font-size: 1.2rem;
}


.notif-button {
  position: relative;
}

.notif-count {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #ff0000;
  padding: 5px;
  border-radius: 50px;
  color: #fff;
}

