

/* ? shorts-nav */

.shorts-nav {
  margin: 15px 0px;
  display: flex;
  border: 1px solid;
  align-items: center;
  padding: 10px;
}

.shorts-nav-box {
  width: 30px;
}

.shorts-nav-title {
  font-size: 1.5rem;
  font-weight: 600;

}




.short-container {
  border: 1px solid red;
}

