

/* ? shorts-nav */

.shorts-nav {
  margin: 15px 0px;
  display: flex;
  border: 1px solid;
}

.shorts-nav-box {
  width: 30px;
}

.short-nav-title {
  font-size: 2rem;
}




.short-container {
  border: 1px solid red;
}

