
:root {
  --side-bar-hover: #e7e7e7 ;
}

.side-bar-main-container {
  position: absolute;
  top: 80px;
}

.side-bar-container {
  display: grid;
  grid-template-rows: repeat(4, 80px);
}

.side-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.svg-side-bar-container {
  width: 25px;
}

.side-bar-text {
  font-size: 0.7rem
}



/*? Effects */

.side-bar-content:hover {
  background-color: var(--side-bar-hover);
  border-radius: 10px;
}
