

.side-bar-main-container {
  border: 1px solid;
  width: 150px;
  position: absolute;
  top: 80px;
}

.side-bar-container {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;

}

.side-bar-content {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-side-bar-container {
  width: 30px;
}