

.side-bar-main-container {
  border: 1px solid;
  width: 200px;
  position: absolute;
  top: 80px;
  height: 600px;
}

.side-bar-container {
  border: 1px solid;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;

}

/* .svg-side-bar-container {
  width: 30px;
} */